/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Bebas+Neue&display=swap");

/* STYLES */
#hero {
  background: linear-gradient(
      0deg,
      rgb(113, 43, 117, 0.5),
      rgb(113, 43, 117, 0.4)
    ),
    url("./img/hero-bg.jpg");
  background-size: cover;
}

#prize-card:hover {
  /* box-shadow: inset 0 0 0 3px #d49b54; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-4px);
}

/* REACT - TAGS */
.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  border: 1px solid #eee;
  min-width: 150px;
  @apply text-black;
}

.ReactTags__editInput {
  border-radius: 1px;
  @apply text-black;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;


  @apply bg-orange text-black;
}
.ReactTags__selected a.ReactTags__remove {
  color: #000000;
  margin-left: 1rem;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: black;
}
